:root {
  --primary-color: #fc5200;
  --footer-background-color: #f9f8f5;
  --footer-color: #525252;
  --hover-register-button-color: #bf3e00;
  --subscription-background-color: #2b2b2b;
  --who-color: #525252;
  --nav-height: 66px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav {
  padding: 10px 80px;
  background-color: white;
  height: var(--nav-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

ul.links {
  list-style: none;
  padding: 0px;
}

nav li {
  padding: 0px 30px;
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

nav .links a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

#menu {
  display: none;
  z-index: 4;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

#logo_and_links {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-color);
}

.has-primary-color {
  color: var(--primary-color) !important;
}

.is-bold {
  font-weight: bold;
}

nav .logo {
  font-size: 2em;
}

.button {
  border: 1px solid darkgray;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

a.button:hover {
  background-color: lightgray;
  text-decoration: none;
}

.account_register_email {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  font-size: 1em;
  display: block;
  width: 100%;
}

a.account_register_email:hover {
  background-color: var(--hover-register-button-color);
  border-color: var(--hover-register-button-color);
  text-decoration: none;
}

#desktop {
  display: flex;

  width: 100%;
  height: 800px;
}

#desktop .left_column,
#desktop .right_column {
  flex-grow: 1;
}

.left_column {
  background-image: url(images/ancient-greece-race.webp);
}
.center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px 50px;
  text-align: center;
  max-width: 350px;
  min-width: 400px;
}
.right_column {
  background-image: url(images/ancient-greece-horse-race.webp);
}

.disclaimer {
  font-size: 0.8em;
}

footer {
  width: 100%;
}

#footer_container {
  display: flex;
  background-color: var(--footer-background-color);

  height: 100%;
  padding: 10px 80px;
}

.footer_links a {
  color: var(--footer-color);
}

#footer_container div {
  flex-grow: 1;
}

#footer_container div.social {
  display: flex;
  flex-direction: column;
}

#footer_container div.footer_links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

#footer_container .logo {
  font-size: 3em;
}

footer ul.links li {
  margin: 15px 0px;
}

#social_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.social_logo {
  height: 20px;
}

/* We use this to not add a new container to have 2 row inside a flex
 * container.
 */
.flex-break {
  flex-basis: 100%;
  height: 0;
}

#mobile {
  display: none;
}

@media (max-width: 700px) {
  nav {
    padding: 10px;
  }

  nav ul {
    display: none;
  }

  #footer_container {
    flex-direction: column;
    padding: 10px;
    font-size: 1.2em;
  }

  #footer_container div.footer_links {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  #menu {
    display: block;
    padding: 0 20px;
  }

  #menu img {
    height: 20px;
  }

  nav ul {
    display: none;
  }

  #desktop {
    display: none;
  }

  #menu_panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    background-color: var(--footer-background-color);
    z-index: 3;
  }

  #menu_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }

  #mobile {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  #mobile .header {
    height: 135vw;
    background-image: url(images/ancient-greece-race-mobile.webp);
    position: relative;

    color: white;
  }

  #overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #overlay h1 {
    margin-top: var(--nav-height);
    padding: 0 10vw;
    font-size: 2em;
    height: 40%;
  }

  #overlay .orange_button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    font-size: 1em;
  }

  #overlay .orange_button:hover {
    background-color: var(--hover-register-button-color);
    border-color: var(--hover-register-button-color);
    text-decoration: none;
  }

  #overlay .arrow {
    filter: invert(100%);
    height: 20px;
  }

  #who,
  #features,
  #subscription {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .button-round {
    border: 2px solid darkgray;
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: bold;
  }

  #features,
  #subscription {
    height: 50vw;
    color: white;
  }

  #who {
    color: var(--who-color);
  }

  #who p.description {
    padding: 0px 80px;
    margin: 10px 0px;
    font-size: 1.5em;
    text-align: center;
  }

  #who img {
    padding: 20px;
  }

  #who .wrestling {
    background-image: url(images/greek-wrestling-mobile.webp);
    background-size: cover;
    background-position: center;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
  }

  #features {
    background-color: var(--primary-color);
  }

  #subscription {
    background-color: var(--subscription-background-color);
  }

  #footer_container {
    flex-direction: column;
  }
}
